fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
zeep
requests
pandas
influxdb-client
pymodbus
lxml
requests-ntlm
python-dotenv
python-multipart
xmltodict
websockets
